@media (max-width: 1199px){
  .aside{
    left:-270px;
  }
  .aside .nav-toggler{
    display:-ms-flexbox;
    display:flex;
    left:10px;
    top:10px;
  }
  .aside .nav-toggler.open{
    left:280px; 
  }
  .aside.open{
    left:0px;
    
  }
  .main-content{
    padding-left:0;
  }
  .section{
    left:0;
  }
  .section.open{
    left:270px;
  }
  .skills h2,.edu h2,.projects h2,.contacts h2{
    padding-top:50px;
  }
}

@media (max-width: 991px){
  .project .image{
    height:170px;
    width:250px;
  }
  .project .overlay{
    height:170px;
    width:250px;
  }
  .project figcaption{
    width:250px;
  }
  
}

@media (max-width: 830px){
  .project .image{
    height:150px;
    width:200px;
  }
  .project .overlay{
    height:150px;
    width:200px;
  }
  .project figcaption{
    width:200px;
  }
}
@media (max-width: 700px){
  .project .image{
    height:130px;
    width:170px;

  }
  .project .overlay{
    height:130px;
    width:170px;
  }
  .project figcaption{
    width:170px;
    font-size:16px;
  }
}

@media (max-width: 575px){
  .projects-row{
    display: block;
  }
  .project .image{
    height:200px;
    width:300px;
  }
  .project .overlay{
    height:200px;
    width:300px;
  }
  .project figcaption{
    width:300px;
  }
  .skill .icon{
    font-size:70px;
  }
}

@media (max-width: 414px){
  .project .image{
    height:170px;
    width:250px;
  }
  .project .overlay{
    height:170px;
    width:250px;
  }
  .project figcaption{
    width:250px;
  }
  .contacts{
    height: 400px;
  }
  .contacts .email{
    font-size:20px;
  }
}
